aspose-words
asttokens
astunparse
attrs
backcall
beautifulsoup4
boltons
boto3
botocore
breadability
brotlipy
certifi
cffi
chardet
charset-normalizer
click
cmake
comm
contourpy
cryptography
cycler
debugpy
decorator
dnspython
docopt
entrypoints
exceptiongroup
executing
expecttest
filelock
fonttools
gitdb
GitPython
glob2
gmpy2
h5py
hypothesis
idna
imageio
imageio-ffmpeg
ipykernel
ipython
jedi
Jinja2
jiwer
jmespath
joblib
jsonpatch
jsonpointer
jupyter-client
jupyter_core
kiwisolver
lazy_loader
libarchive-c
lit
llvmlite
lxml
MarkupSafe
matplotlib
matplotlib-inline
mdutils
mkl-fft
mkl-random
mkl-service
more-itertools
moviepy
mpmath
nest_asyncio
networkx
nltk
numba
numpy
openai-whisper
opencv-python
packaging
pandas
parso
pexpect
pickleshare
pillow
pkginfo
platformdirs
pluggy
proglog
prompt-toolkit
psutil
ptyprocess
pure-eval
py-cpuinfo
pycosat
pycountry
pycparser
Pygments
pyOpenSSL
pypandoc
pyparsing
PySocks
pytesseract
python-dateutil
python-etcd
pytz
PyYAML
pyzmq
rapidfuzz
regex
requests
ruamel.yaml
ruamel.yaml.clib
s3transfer
scikit-image
scikit-learn
scipy
seaborn
six
smart-open
smmap
sortedcontainers
soupsieve
stack-data
sumy
sympy
threadpoolctl
tifffile
tiktoken
tomli
toolz
torch==2.0.1
torchaudio==2.0.2
torchdata==0.11.0
torchelastic
torchtext==0.15.2
torchvision==0.15.2
tornado
tqdm
traitlets
types-dataclasses
tzdata
ultralytics
ultralytics-thop
urllib3
wcwidth
wrapt
zstandard
